<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
  </head>
  <body>
    <h1>Menu</h1>
    <a href="{% url 'index' %}">Home</a>

    {% if food_menu %}
    <table id="id_list_table">
      {% for food in food_menu %}
        <tr><td>Food: {{ food.food }}</td></tr>
        <tr><td>Sugar: {{ food.sugar }} %</td></tr>
        <form method="post">
          <tr>
            <td>
              <input type="submit" name="delete_button"
                     id="d{{ food.id }}"
                     value="Delete the food above from menu">
            </td>
          </tr>
          <input type="hidden" name="food_name" value="{{ food.food }}">
          {% csrf_token %}
        </form>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
